.optionsParent {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.table {
  display: table;
  margin: 0 auto;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  font-size: 22px;
  justify-content: space-around;
  position: relative;
  font-weight: bold;
  text-align: left;
  padding-left: 0;
  color: whitesmoke;
}

button:hover {
  cursor: pointer;
}

#options {
  font-size: 12px;
  position: static;
  display: inline-flex;
  border-right: none;
  border-left: none;
  border-color: #ff7449;
  background-color: #2A363B;
  margin: 10px;
  vertical-align: middle;
  color: #FECEAB;
}

#options:before {
  color: whitesmoke;
  margin: 15px;
}

#options:hover {
  font-size: 14px;
  color: #E84A5F;
  border-color: #E84A5F;
}
