input, button, form {
  font-size: 18px;
  box-sizing: content-box;
  border-radius: 4px;
  justify-content: center;
}

input {
  background-color: #72ffd9;
  border-color: black;
  color: black;
  font-size: 25px;
  vertical-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
}

input:focus {
  outline: 0;
}

.button {
  border: none;
  display: inline-block;
  font-size: 18px;
  width: 80px;
  margin: 20px 15px 10px 15px;
  border-radius: 20px;
  text-align: center;
  background-color: #2A363B;
  color: #FFFFFF;
  box-shadow: 1px 2px 2px black;
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px;
  vertical-align: baseline;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}